repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # prevents adding large files
      - id: detect-private-key # detects private keys
      - id: fix-byte-order-marker # fixes BOM
      - id: fix-encoding-pragma # fixes encoding pragma
      - id: no-commit-to-branch # prevents committing to protected branches
      - id: trailing-whitespace # prevents trailing whitespace
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
