---
name: cd (production)
on:
  push:
    branches: [main]
    paths:
      - .github/workflows/cd.yaml
      - pipelines/**/*
      - pyproject.toml
      - poetry.lock
      - Dockerfile
      # dbt files
      - models/**/*.sql
      - models/**/*.yml
      - macros/**/*
      - tests-dbt/**/*
      # dbt config files
      - dbt_project.yml
      - packages.yml
env:
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
  GH_PAT: ${{ secrets.GH_PAT }}
  GKE_CLUSTER: ${{ secrets.GKE_CLUSTER_NAME }}
  GKE_ZONE: ${{ secrets.GKE_ZONE }}
  IMAGE_NAME: ghcr.io/basedosdados/prefect-flows
  PREFECT__BACKEND: cloud
  PREFECT__CLOUD__API: https://prefect.basedosdados.org/api
  PREFECT__CLOUD__PORT: 443
  PREFECT__SERVER__PROJECT: ${{ secrets.PREFECT__SERVER__PROJECT }}
  PREFECT_AUTH_TOML: ${{ secrets.PREFECT_AUTH_TOML }}
jobs:
  deploy-production:
    name: deploy (production)
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up poetry
        run: pipx install poetry==1.8.5
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          cache: poetry
          python-version-file: .python-version
      - uses: google-github-actions/auth@v2
        with:
          export_environment_variables: true
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      - name: Install Python dependencies for deploying
        run: |-
          poetry install --with=dev
      - name: Update image tag in constants
        run: |-
          poetry run python .github/workflows/scripts/replace_docker_tag.py $IMAGE_NAME $GITHUB_SHA
      - name: Get changed files for code tree analysis
        id: files
        uses: Ana06/get-changed-files@v2.1.0
      - name: Perform code tree analysis
        id: code-tree-analysis
        run: |
          poetry run python .github/workflows/scripts/code_tree_analysis.py "${{ steps.files.outputs.all }}" --write-to-file
      - name: Write auth.toml
        run: |-
          mkdir -p $HOME/.prefect
          echo $PREFECT_AUTH_TOML | base64 --decode > $HOME/.prefect/auth.toml
      - name: Wait for Docker image to be available
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.ref }}
          check-name: Build Docker image
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          verbose: true
      - name: Register Prefect flows
        run: |-
          poetry run python .github/workflows/scripts/register_flows.py \
            --project $PREFECT__SERVER__PROJECT \
            --path pipelines/ \
            --schedule \
            --filter-affected-flows \
            --modified-files "${{ steps.files.outputs.all }}"
  delete-archivied-flows:
    needs: deploy-production
    name: delete-archivied-flows
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up poetry
        run: pipx install poetry==1.8.5
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          cache: poetry
          python-version-file: .python-version
      - name: Write auth.toml
        run: |-
          mkdir -p $HOME/.prefect
          echo $PREFECT_AUTH_TOML | base64 --decode > $HOME/.prefect/auth.toml
      - name: Install dependencies
        run: |-
          poetry install
      - name: Run script delete archieved flow runs
        run: poetry run python .github/workflows/scripts/delete_archieved_flow_runs.py
  table-approve:
    needs: deploy-production
    name: table approve
    runs-on: ubuntu-22.04
    steps:
      - name: Get PR that triggered the push
        id: get_pr
        uses: actions/github-script@v7
        with:
          script: |
            const commits = await github.rest.repos.listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha
            });
            const commitSha = commits.data[0].sha;
            const prs = await github.rest.repos.listPullRequestsAssociatedWithCommit({
              owner: context.repo.owner,
              repo: context.repo.repo,
              commit_sha: commitSha
            });
            if (prs.data.length === 0) {
              core.setFailed("No pull request found for this commit.");
            } else {
              const pr = prs.data.at(-1);
              console.log("PR Number", pr.number);
              console.log(pr)
              core.setOutput("pr_number", pr.number);
            }
      - name: Get PR labels
        id: check_label
        uses: actions/github-script@v7
        with:
          script: |
            const pr_number = core.getInput("pr_number") || '${{ steps.get_pr.outputs.pr_number }}';
            const labels = await github.rest.issues.listLabelsOnIssue({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: pr_number
            });
            const approved = labels.data.some(label => label.name === "table-approve");
            console.log("table-approve label add:", approved);
            core.setOutput("table-approve", approved);
      - name: Get changed files in PR
        if: steps.check_label.outputs.table-approve == 'true'
        id: changed_files
        uses: actions/github-script@v7
        with:
          script: |
            const pr_number = core.getInput("pr_number") || '${{ steps.get_pr.outputs.pr_number }}';
            const files = await github.rest.pulls.listFiles({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: pr_number
            });
            const fileNames = files.data
              .filter(file => file.status !== 'removed')
              .map(f => f.filename)
              .join(',');
            console.log("Changed files:", fileNames);
            core.setOutput("files", fileNames);
      - name: Checkout
        if: steps.check_label.outputs.table-approve == 'true'
        uses: actions/checkout@v4
      - name: Set up poetry
        if: steps.check_label.outputs.table-approve == 'true'
        run: pipx install poetry==1.8.5
      - name: Set up python
        if: steps.check_label.outputs.table-approve == 'true'
        uses: actions/setup-python@v4
        with:
          cache: poetry
          python-version-file: .python-version
      - name: Install requirements
        if: steps.check_label.outputs.table-approve == 'true'
        run: poetry install --only=dev
      - name: Run prefect flow to execute dbt model in prod
        if: steps.check_label.outputs.table-approve == 'true'
        run: |-
          poetry run python .github/workflows/scripts/prefect_run_dbt.py \
            --dbt-command run \
            --sync-bucket \
            --modified-files ${{ steps.changed_files.outputs.files }} \
            --prefect-backend-token ${{ secrets.PREFECT_BACKEND_AUTH_TOML_API_KEY }}
        env:
          BASEDOSDADOS_CONFIG: ${{ secrets.BASEDOSDADOS_CONFIG }}
          BASEDOSDADOS_CREDENTIALS_PROD: ${{ secrets.BASEDOSDADOS_CREDENTIALS_PROD }}
          BASEDOSDADOS_CREDENTIALS_STAGING: ${{ secrets.BASEDOSDADOS_CREDENTIALS_STAGING }}
