name: Lint Python

on:
  pull_request:

jobs:
  docker_lint:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9.x"

      - name: Set up poetry and upgrade pip
        run: |
          pip install -U pip poetry
          pip install isort
          pip install black
          pip install autoflake8
          pip install flake8

      - name: Install this package
        run: poetry install

      - name: Lint source code
        run: poetry run lint
